.winfiles/AppData/Roaming/mpv/gallery-thumbs-dir

.config/lazygit/state.yml
.config/mpv/playlists
.config/ncmpcpp/lyrics/
.config/ncmpcpp/error.log
.config/zsh/.zcompdump

.local/bin/*
!.local/bin/cron/
!.local/bin/borderless
!.local/bin/dmenupass
!.local/bin/devour
!.local/bin/maimpick
!.local/bin/remaps
!.local/bin/RiceNix
!.local/bin/spdf
