* {
    /* `otf-font-awesome` is required to be installed for icons */
    /* font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif; */
    font-size: 13px;
    color: #6c6c6c;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
}
